messages-util/StringsSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="https://leoschwarz.github.io/opensim-protocol/schema/StringsSchema.xsd"
	targetNamespace="https://leoschwarz.github.io/opensim-protocol/schema/StringsSchema.xsd"
	elementFormDefault="qualified">

	<element name="strings" type="tns:stringsType" />

	<complexType name="stringsType">
		<sequence>
			<element name="string" type="tns:stringType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>

	<complexType name="stringType">
		<attribute name="id" type="string" use="required"></attribute>
	</complexType>
</schema>
